
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


<div style="margin: auto;width: 300px;margin-top: 150px;">


<form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {{ app2 }}
<button>SUbmite</button>
</form>


<br><br><br>


<form id='form' action="{% url 'post' %}" method="POST" enctype="multipart/form-data" style="margin-bottom: 50px;">
    {% csrf_token %}

    <label for="name">Name</label>

    <input type="text" id="namer" name="namer">
    <button>Submit</button>
    
</form>






{% for apps in app %}

{{ apps.user.username }}
{{ apps.name }}

<div style="display: flex;">
<a href="{% url 'update' apps.id %}"><h3>Update</h3></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'delete' apps.id %}"><h3>Delete</h3></a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<br><br>

{% endfor %}


<input id="create_response" hidden>

</input>

<div id="data_magic">


</div>

<script>


    
    $(document).on('submit', '#form', function (e){
                    e.preventDefault();

            $.ajax({
                'type': 'POST',
                'url': '/post',
                'data': {
                    'namer': $('#namer').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                'success': function(response){
                    magice_response_id = response.aid
                    fun();
                }
            });
    });
            
            function fun () {
                $.ajax({
                    'type': 'GET',
                    'url': '/post/js/' + magice_response_id,
                    'success': function (response) {
                        for (var v in response.am) {
                            var t = response.am[v];
                            $('#data_magic').append(t.name);
                        };
                    }
                });
            }
    
            // setInterval(fun, 1000);

</script>